
*.ide
Framework/.vs/DashFramework/v15/.suo
*.ide-wal
Framework/.vs/DashFramework/v15/.suo
Framework/.vs/DashFramework/v15/.suo
Framework/.vs/DashFramework/v15/Server/sqlite3/storage.ide
Framework/.vs/DashFramework/v15/Server/sqlite3/storage.ide-wal
Framework/.vs/DashFramework/v15/Server/sqlite3/storage.ide
Framework/.vs/DashFramework/v15/Server/sqlite3/storage.ide-wal
Framework/.vs/DashFramework/v15/*
Framework/.vs/
Framework/.vs
Framework/.vs/*
Framework/.vs/*.*
*.ide-wal
Framework/.vs/DashFramework/v15/Server/sqlite3/storage.ide
*.ide-wal
