
*.ide
Framework/.vs/DashFramework/v15/.suo
*.ide-wal
Framework/.vs/DashFramework/v15/.suo
Framework/.vs/DashFramework/v15/.suo
Framework/.vs/DashFramework/v15/Server/sqlite3/storage.ide
Framework/.vs/DashFramework/v15/Server/sqlite3/storage.ide-wal
Framework/.vs/DashFramework/v15/Server/sqlite3/storage.ide
Framework/.vs/DashFramework/v15/Server/sqlite3/storage.ide-wal
Framework/.vs/DashFramework/v15/*
Framework/.vs/
Framework/.vs
Framework/.vs/*
Framework/.vs/*.*
*.ide-wal
Framework/.vs/DashFramework/v15/Server/sqlite3/storage.ide
*.ide-wal
*.pdb
*.pdb
*.ide-wal
*.ide-shm
*.ide
Framework/.vs/DashFramework/v15/.suo
Framework/.vs/DashFramework/v15/Server/sqlite3/storage.ide
Framework/.vs/DashFramework/v15/Server/sqlite3/storage.ide-shm
Framework/.vs/DashFramework/v15/Server/sqlite3/storage.ide-wal
Framework/app/FrameworkUpdate4.0.pdb
Framework/obj/Debug/FrameworkUpdate4.0.pdb
